<div class="bg">
<div class="quiz-container" *ngIf="question && !loading;else loader">
    <div id="item-1">
      <div id="item-2">
      <span>Quiz - with Categories</span>
      <span>Points: {{points}}</span>
    </div>
      <mat-form-field appearance="fill">
        <mat-label>Categories</mat-label>
        <mat-select [formControl]="category" (valueChange)="onChange($event)" multiple>
          <mat-option *ngFor="let elem of list | keyvalue" [value]="elem.value[elem.value.length-1]">{{elem.key}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
<mat-card id="item-0">
  <mat-card-title>{{question.category}}</mat-card-title>
  <mat-card-subtitle>{{question.difficulty}}</mat-card-subtitle>
  <mat-card-content class="text">
    <p>{{question.question}}</p>
  </mat-card-content>
  <mat-card-actions *ngIf="answers">
    <button *ngFor="let answer of answers"
            mat-raised-button
            [disabled]="answered"
            [ngClass]="[btnSt]"
            (click)="answerClick(answer)"
    >{{answer}}</button>
  </mat-card-actions>
</mat-card>
</div>
  <ng-template class="loader" #loader>
    <div class="loader-inner">
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
      <div class="loader-line-wrap">
        <div class="loader-line"></div>
      </div>
    </div>
  </ng-template>
</div>
